<form class="form-login needs-validation" id="login-validation" action="" method="post" novalidate>
    <img style="border-radius: 50%;" src="images/font.jpg" alt="House" width="200" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
    <div class="mb-3">
        <label for="username" class="sr-only">Email address</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="Email address" autofocus>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Login</button>
</form>