<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body>
<#assign page = "user/properties">
<#include "/partials/navigation.ftlh">
<#include "/tables/properties-for-user.ftlh">
<#assign modal_id = "removePropertyModal">
<#include "/partials/modal.ftlh">
<#include "/partials/footer.ftlh">
</body>
</html>