<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h2>Active Repairs</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm" >
            <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Repair type</th>
                <th>Cost</th>
                <th>Property State ID</th>
                <th>Description</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <#if repairs??>
                <#list repairs as repair>
                    <tr data-id="${repair.id}">
                        <td>${repair.date}</td>
                        <td>${repair.repairStatus.getRepairStatus()}</td>
                        <td>${repair.repairType.getRepairType()}</td>
                        <td>${repair.cost}</td>
                        <td>${repair.property.propertyStateId}</td>
                        <td>${repair.description}</td>
                        <td class="text-center"><a class="btn btn-link" href="/admin/edit-repair/${repair.id}"><span data-feather="tool"></span></a></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-id="${repair.id}" data-target="#removeRepairModal">
                                <span data-feather="x"></span>
                            </button>
                        </td>
                    </tr>
                </#list>
            </#if>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>