<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body>
<#assign page = "admin/create-customer">
<#include "/partials/navigation.ftlh">
<#include "/forms/create-customer.ftlh">
<#include "/partials/footer.ftlh">
</body>
</html>