table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table th{
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #eeeeee;
    border: solid;
    border-width: 1px 0;
}

.error{
    color:red;
}

label.error{
    flex-grow:0;
    flex-basis:100%;
    font-size:18px;
}